/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */


body{
    background-color:hsl(30, 38%, 92%);
}
main{
    width: 43%;
    height: 450px;
    background-color: rgb(253, 253, 255);
    border-radius: 10px;
    display: flex;
    box-shadow: 5px 5px 25px rgba(194, 191, 211, 0.507);
    margin-top: 6%;
    margin-left: 28%;
}
.sec1{
  width: 300px;

}
.img1{
    width:100%;
    height:450px;
    border-radius: 10px 0px 0px 10px;
}
.sec2{
    padding-left:4%;
    width: 80%;
}
h3{
    font-weight: 100;
    color: hsl(229, 13%, 40%);
    font-family: "Montserrat", serif;
}
h1{
    display: inline-block;
    color:hsl(212, 21%, 14%) ;
    font-weight: 700;
}

p{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat",sans-serif;
}
.sp1{
    display: flex;
    gap: 3%;

}
.sp2{
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;

}
.p{
    font-size: 0.9rem;
    text-decoration: line-through;

}

.btn{
    background-color:hsl(158, 36%, 37%) ;
    text-align: center;
    margin-top: 10%;
    padding: 8%;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border-radius: 10px;
    font-family: "montserrat",sans-serif;
}
.btn:hover{
    background-color:hsl(212, 21%, 14%) ;
}



@media screen and (max-width:768px) {
    main{
      display: block;
      margin-left: 20%;
      width: 64.2%;
      height: 780px;
    }
    .img1{
        width:100%;
        height:300px;
        border-radius: 10px 10px 0px 0px;
    }
    .sec2{
        margin-left: 5%;
    }
}